<h1>Shopping Cart</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price (each)</th>
    </tr>
  </thead>
  <tbody>
    <% @cart.cart_items.each do |item| %>
      <tr>
        <td><%= item.product.name %></td>
        <td><%= item.quantity %></td>
        <td>€<%= '%.2f' % (item.product.price_cents / 100.0) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<h2>Total: €<%= '%.2f' % (@total_cents / 100.0) %></h2>
