<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>
<h1>Products</h1>

<ul>
  <% @products.each do |product| %>
    <li>
      <strong><%= product.code %></strong> -
      <%= product.name %> -
      <%= product.price_cents / 100.0 %> €
    </li>
  <% end %>
</ul>
