<h1>Products#index</h1>
<div class="products">
<ul>
  <% @products.each do |product| %>
    <li>
      <strong><%= product.code %></strong> -
      <%= product.name %> -
      <%= product.price_cents / 100.0 %> €
    </li>
  <% end %>
</ul>
</div>
